html,
body {
    margin: 0;
    background-color: #fdfdfd;
}

header {
    background-color: #efeeee;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    margin: 10;
    padding: 10;
    display: flex;
}

nav li {
    margin-left: 1.5rem;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-align: center;
}

nav a:hover {
    color: #0d5f25;
}



.notes {
    display: flex;
    height: 100%;
}

.notes * {
    font-family: sans-serif;
}

.notes__sidebar {
    border-right: 2px solid #000000;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 300px;
}

.notes__add {
    background: #00221b;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}

.notes__add:hover {
    background: #00af8c;
}

.notes__list-item {
    cursor: pointer;
}

.notes__list-item--selected {
    background:#ffffff08;
    border-radius: 7px;
    font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
    padding: 10px;
}

.notes__small-title {
    font-size: 1.2em;
}

.notes__small-body {
    padding: 0 10px;
}

.notes__small-updated {
    color: #ffffff;
    font-style: italic;
    text-align: right;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.notes__title,
.notes__body {
    border: none;
    outline: none;
    width: 100%;
}

.notes__title {
    font-size: 3em;
    font-weight: bold;
}

.notes__body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
}

.file-upload {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
  }
  
  .file-upload__input {
    display: none;
  }
  
  .file-upload__button {
    -webkit-appearance: none;
    background: #00221b;
    border: 2px solid #00221b;
    border-radius: 4px;
    outline: none;
    padding: 0.5em 0.8em;
    margin-right: 15px;
    color: #ffffff;
    font-size: 1em;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    cursor: pointer;
  }
  
  .file-upload__button:active {
    background: #00745d;
  }
  
  .file-upload__label {
    max-width: 250px;
    font-size: 0.95em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Quicksand", sans-serif;
  }
  

  .instant-search {
    position: relative;
    max-width: 250px;
  }
  
  .instant-search,
  .instant-search__input {
    font-family: sans-serif;
  }
  
  .instant-search,
  .instant-search * {
    transition: background 0.15s, box-shadow 0.15s;
  }
  
  .instant-search:focus-within {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
  
  .instant-search--loading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: #009578;
    border-radius: 5px;
    animation: searchIndicator 0.5s infinite ease-in-out;
  }
  
  @keyframes searchIndicator {
    0% {
      width: 15%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 15%;
    }
  }
  
  .instant-search,
  .instant-search__input-container {
    border-radius: 5px;
  }
  
  .instant-search__input-container {
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    background: #eeeeee;
  }
  
  .instant-search__input-container:focus-within {
    background: #ffffff;
  }
  
  .instant-search__input {
    flex-grow: 1;
    border: none;
    outline: none;
    width: 100%;
    padding: 0 6px;
    background: transparent;
  }
  
  .instant-search__results-container {
    max-height: 250px;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.1s;
  }
  
  .instant-search__results-container--visible {
    visibility: visible;
    opacity: 1;
  }
  
  .instant-search__result {
    display: block;
    color: #333333;
    text-decoration: none;
    padding: 10px;
    font-size: 0.8em;
    cursor: pointer;
  }
  
  .instant-search__result:hover {
    background: #eeeeee;
  }
  
  .instant-search__result:not(:last-of-type) {
    border-bottom: 1px solid #eeeeee;
  }
  
  .instant-search__title {
    font-size: 1.1em;
    font-weight: bold;
  }
  
  .instant-search__paragraph {
    line-height: 1.5;
    margin: 8px 0;
  }
  